<div class="container-form">
  <div class="header-form">
     Agregar Usuario
  </div>
  <div class="container-inputs">
  <input type="text" oninput="letters(event)" maxlength="100" class="form-control" id="name" placeholder=" * Name"/>
  <input type="text" class="form-control" id="surname" placeholder=" Surname"/>
  <input type="date" class="form-control" id="date" placeholder=" * Date Of Birth"/>
  <input type="email" class="form-control"  id="email" placeholder=" * Email"/>
  <select class="form-control" id="rol">
    <option value="0" selected>* Seleccione Rol</option>
    <option value="1">Desarrollador</option>
    <option value="2">Team leader</option>
    <option value="3">Cto</option>
  </select>
  <button class="btn btn-primary" onclick="saveUser()">Guardar</button>
  </div>
</div>