<nav class="navbar navbar-dark bg-primary2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo2.png" alt="" width="30" height="24" class="d-inline-block align-text-top rounded-circle">
      Computrabajo
      <img src="/assets/logo3.png" alt="" width="34" height="30" class="d-inline-block align-text-top rounded-circle">
      PANDAPÉ
    </a>
  </div>
</nav>
<nav class="header-dos">
  <span class="text-icon">
    <table>
      <tr>
        <td>Administrador de Usuarios</td>
        <td>
          <svg class="w-[36px] h-[36px] text-gray-800 dark:text-gray-700" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
          d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z"
          clip-rule="evenodd" />
      </svg>
        </td>
      </tr>
    </table>
 
</span>


</nav>