
<table id="table" class="cell-border compact stripe">
    <thead>
        <tr>
            <th scope="col" class="px-6 py-3">
                Name
            </th>
            <th scope="col" class="px-6 py-3">
                Surname
            </th>
            <th scope="col" class="px-6 py-3">
                Date of birth
            </th>
            <th scope="col" class="px-6 py-3">
                Email
            </th>
            <th scope="col" class="px-6 py-1">
                RolId
            </th>
            <th scope="col" class="px-6 py-1">
                edit
            </th>
            <th scope="col" class="px-6 py-1">
                acciones
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
    <button class="btn btn-primary" onclick="selectedFiles()">Eliminar Seleccionados</button>